@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", system-ui, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: theme("colors.canvas");
  color: theme("colors.navy.DEFAULT");
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cbe0cf;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
